lspc_dataset
lspc_dataset_full
qwen3_lora_prodcat
*.zip
*.tsv
*.gz
*.json
.idea
poetry.lock
/.venv
qwen3_lora_prodcat_adam
brand_dataset
__pycache__/
*.pyc
/embedding_classifier_prodcat/
/embedding_classifier_prodcat_v2/
/embedding_classifier_prodcat_v2_en/
/embedding_classifier_prodcat_v2_gamma0/
/embedding_classifier_prodcat_v3/
